<%= turbo_frame_tag :frameNewCardModal, target: :_top do %>
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
      <div>
      <%= content_tag(:div, class: 'main-layout') do%>
        <%= content_tag(:h3, t('app.new_card'), class: 'h4') %>
        <%= form_with(model: [@list, @list.cards.build], url: list_tasks_path(@list), local: true, data: { turbo: :false }) do |f|%>
          <%= f.label :name%>
          <%= f.text_field :name, placeholder: 'name', required: true %>

          <div class="mt-5 sm:mt-6">
            <%= f.submit t('app.submit'), class: 'btn-primary__block' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<%= turbo_frame_tag :frameNewCard do%>
  <%= content_tag(:div, class: 'main-layout') do%>
    <%= form_with(model: [@list, @list.cards.build], url: list_tasks_path(@list), local: true, data: { turbo: :false }) do |f|%>
      <%= f.label :name%>
      <%= f.text_field :name, placeholder: 'name', required: true %>

      <%= f.submit t('app.submit') %>
    <% end %>
  <% end %>
<% end %>
